ion-view
  ion-header-bar(align-title="center", class="bar-royal")
    h1.title Wesh - Login
  ion-content.homepage(scroll="true")
    .card
      .item.item-text-wrap

        h1 Wesh
        p Connecte-toi pour dire Wesh à tout le monde !

        button.button.button-block.button-positive.icon-left.ion-social-facebook(ng-click="login()") Facebook connect
