ion-view
  ion-header-bar(align-title="center", class="bar-royal")
    h1.title Wesh
  ion-content.homepage
    .card
      .item.item-text-wrap
        h2
          | Wesh
          strong &nbsp;{{ user.name }}

        p Dis Wesh à tout le monde !
        button.button.button-block.button-positive Wesh!

  ion-footer-bar
    button.button.button-clear.pull-right(ng-click="logout()") Logout
